$primary-bg-color: #f7f8fa;
$primary-text-color: #1d1e21;

$primary-accent-color: #59b17a;
$primary-hover-accent-color: #3f945f;
$primary-grey-color: rgba(29, 30, 33, 0.1);
$primary-white-color: #ffffff;
$primary-placeholder-color: rgba(29, 30, 33, 0.4);
$primary-input-color: rgba(29, 30, 33, 0.8);
$primary-icon-fill-color: #dcdddf;
$primary-caption-bg-color: #e7f1ed;

$error-input-color: #ef2447;
