.form {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 40px 0 20px 0;
}

.input {
  width: 215px;
}

.btn {
  padding: 13px 30px;
  gap: 8px;
  font-size: 12px;
  line-height: 1.5;
}

.icon {
  stroke: $primary-white-color;
  fill: none;
}
