.editBtn {
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  padding: 8px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: $primary-accent-color;
}
