.header {
  padding: 17px 0;
  border-bottom: 1px solid $primary-grey-color;
  // position: fixed;
  // background-color: $primary-bg-color;
  // top: 0;
  // z-index: 10;

  @include media(tablet) {
    padding: 15px 0;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;

  @include media(tablet) {
    gap: 16px;
  }

  @include media(desktop) {
    padding: 0 40px 0 20px;
    max-width: 100vw;
    margin-right: auto;
  }
}

.menuBtn {
  @include media(desktop) {
    display: none;
  }
}

.menuIcon {
  stroke: $primary-text-color;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include media(tablet) {
    margin-left: 16px;
  }

  @include media(desktop) {
    margin-left: 44px;
  }
}
