.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  margin-bottom: 20px;

  &:hover .iconWrapper {
    background-color: $primary-hover-accent-color;
  }
}

.iconWrapper {
  background-color: $primary-accent-color;
  border-radius: 60px;
  padding: 13px;
  width: 42px;
  height: 42px;
  transition: all $animation-duration $animation-time-function;
}

.icon {
  stroke: $primary-white-color;
}

.span {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
}
