.btn {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  @include media(tablet) {
    width: 22px;
    height: 22px;
    right: 16px;
  }
}

.icon {
  fill: transparent;
  stroke: $primary-text-color;
  width: 18px;
  height: 18px;

  @include media(tablet) {
    width: 22px;
    height: 22px;
  }
}
